<div class='landing-page-container'>

  <div class='game-button-container'>
    <form action"/ttt" method="post">
      <input type="submit" name='hard' value="Hard Game" class='general-button mode-button'>
    </form>
    <form action"/ttt" method="post">
      <input type="submit" name='easy' value="Easy Game" class='general-button mode-button'>
    </form>
  </div>
</div>
