<div class='landing-page-container'>
  <div class='instruction-container'>
    <p class='welcome-message'>
      Welcome to our Tic Tac Toe Game
    </p>
    <p class='instructions'>
      Play Tic Tac Toe against the computer. <br>
      Take on our AIs, <strong>Shallow Red</strong> and <strong>Simple Computer</strong>, and try to get 3 Xs in a row. <br>
      If you lose to the easy computer, try again! If you beat the hard computer... Well, that's impossible!
    </p>
  </div>
  <div class='game-button-container'>
    <form action"/ttt" method="post">
      <input type="submit" name='hard' value="Hard Game" class='general-button mode-button'>
    </form>
    <form action"/ttt" method="post">
      <input type="submit" name='easy' value="Easy Game" class='general-button mode-button'>
    </form>
  </div>
</div>
